/* header section style */
.header-section{
    width: 1440px;
    height: 698px;
    /* background-color: aqua; */
    background-image: url("../Assets/Hero-bg.png");
    margin: 0 auto;
}
.nav-section{
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
}
.logo{
    font-size: 40px;
}
.sign-up{
    width: 132px;
    height: 48px;
    font-size: 16px;
    margin-top: 28px;
    background-color:#4E47FF;
    font-weight: 400;
    color: white;
    border-radius: 10px;
    border: none;
}
.sign-up:hover{
    background-color: brown;
}
.banner{
    margin: 150px 267px 152px 340px;
}
.banner-heading{
    font-size: 65px;
    font-weight: bold;
}
.stay-btn{
    width:174px ;
    height:48px ;
    margin-left: 280px;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}
.stay-btn:hover{
    font-size: 25px;
}
/* share styles */
.share-color{
    color: #4E47FF;
}
/* action section style */
.action-section{
    display: flex;
    /* background-color: aqua; */
    width: 1140px;
    height: 328px;
    margin: 116px 760px;
    justify-content: space-between;
    border-radius: 10px;
}
.action-content{
    /* width: 512px;
    height: 203px; */
    /* margin: 62px 623px 62px 0;  */
    margin-top: 45px;
}
.see{
    font-size: 42px;
    font-weight: bold;
}
.explore{
    font-size: 24px;
    font-weight: 300;
    color: #8987A1;
}
.action-btn{
    width:229px ;
    height:48px ;
    font-size: medium;
    background-color:#4E47FF;
    border: none;
    border-radius: 10px;
    color: white;
}
/* joined section style */
.joined-section{
    width: 1140px;
    height: 406px;
    background-color:#4d47ff1e;
    margin: 116px 760px;
    border-radius: 20px;
}
.joined-paragraph{
    padding-top: 50px;
}
.view-section{
    display: flex;
    justify-content: space-around;
}
.view{
    font-weight:bold ;
    font-size:80px ;
    margin-bottom: 12px;
    color: #4E47Ff;
}
.view-p{
    padding-bottom: 400px;
}
/* rating section style */
.rating-section{
    width: 1140px;
    height: 442px;
    /* background-color: aqua; */
    margin: 0 auto;
}
.rating-card-item{
    width:366px ;
    height:243px ;
    background-color: white;
    text-align: center;
    padding: 20px;
}
.rating-card-container{
    display: flex;
    gap: 25px;
}
.rating-heading{
    font-weight: bold;
    font-size: 60px;
    text-align: center;
}
.rating-image{
    display: flex;
}
/* focus section style */
.focus-section{
    width:1140px ;
    height: 696px;
    background-color: aqua;
    margin: 0 auto;
}
.focus-header{
    font-weight:bold ;
    font-size: 50px;
    width: 516px;
    height: 60px;
}
/* form section style */
.form-section{
    width:1140px ;
    height:632px ;
    background-color: aqua;
    margin: 0 auto;
    margin-top: 90px;
}
.form-container{
    display: flex;
   
}
.email-section{
    width: 497px;
    height: 102px;
    font-size: larger;
}
.form-label{
     width: 497px;
    height:490px;
}
.form-heading{
    width:528px ;
    height:232px ;
    font-weight: bold;
    font-size: 97px;
}
.form-btn{
    width: 497px;
    height: 62px;
    background-color: #4E47FF;
    /* color: white; */
}
/* footer section style */
.footer-section{
    width:1440px ;
    height:428px ;
    background-color: aqua;
    margin: auto;
}
.footer-head{
    width: 291px;
    height: 121px;
    font-size: 100px;
    font-weight: bolder;
    margin-left: 530px;
    padding-top: 150px;
    color: #4E47FF;
}
.header-paragraph{
    /* text-align: center; */
    margin-left: 200px;
}
footer p {
    text-align: center;
    font-size: large;
    color: #8987A1;
}
.footer-anchor{
    text-align: center;
    font-size: large;
    justify-content: space-between
}